

.parte4{
    background-image: url(../img/alex2_escuro.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.parte4 .textos{
    color: white;
    padding: 40px 40px 20px 40px;
}
.parte4 .textos h2, .parte4 .textos h4, .parte4 .textos h1{
    color: #e44105;
}

.parte4 .textos h2{
    padding: 20px 0;
    font-size: 26px;
}

.parte4 .textos h1{
    text-shadow: 0 5px 5px rgba(0,0,0,1);
}

.parte4 .textos h4{
    padding-bottom: 5px;
    font-size: 18px;
}

.parte4 .textos p{
    font-size: 16px;
}



.parte4 .imagem_parte4 img{
    display: none;
    visibility: hidden;
    width: 100%;


}



.parte4 .botao{
    background-color: #e44105;
    border: none;   
}
.parte4 .botao:hover{
    background-color: #e44105;
    border: none;   
}
.parte4 .botao:active{
    background-color: #e44105;
    border: none;   
}



@media screen and (min-width: 800px) {

    .parte4{
        background: #222222;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .parte4 .textos{
        width: 40%;
        color: white;
        padding: 40px 40px 0px 40px;
    }
    .parte4 .textos h2, .parte4 .textos h4, .parte4 .textos h1{
        color: #e44105;
    }

    .parte4 .textos h2{
        padding: 20px 0;
        font-size: 26px;
    }
    
    .parte4 .textos h4{
        padding-bottom: 5px;
        font-size: 18px;
    }

    .parte4 .textos p{
        font-size: 20px;
    }

    .parte4 .imagem_parte4{
        width: 60%;
    }
  

    .parte4 .imagem_parte4 img{
        display: block;
        visibility: visible;
        width: 100%;
    }
    

}
